.parsed-url-container {
  margin-top: 8px;
  font-size: 12px;
  color: grey;
}

.parsed-url-container ul {
  list-style: none;
  padding-left: 0;
}

.parsed-url-container ul li {
  display: inline;
  padding-right: 8px;
}
