.parsed-url-container {
  margin-top: 8px;
  font-size: 12px;
  color: grey;
}

.parsed-url-container ul {
  list-style: none;
  padding-left: 0;
}

.parsed-url-container ul li {
  display: inline;
  padding-right: 8px;
}

#build-form {
  padding: 32px;
}

#logo {
  margin: 32px;
  margin-top: 64px;
}

.explanatory-card .card-body {
  padding: 24px;
}

.explanatory-card-header {
  margin-top: 84px;
}
